/* Number positions */

/* Part 1 */
.p-10 {
    top: 80%;
    left: 50%;
}
.p-18 {
    top: 40%;
    left:55%;
}
.p-30 {
    top: 15%;
    left: 50%;
}
.p-16 {
    top: 60%;
    left: 44%
}

.p-11 {
    top: 60%;
    left: 54%
}

/* Part 2 */
.p-6 {
    top: 72%;
    left: 30%;
}

.p-7 {
    top: 56%;
    left: 20%;
}

/* Part 3 */
.p-5 {
    top: 65%;
    left: 46%;
}

.p-46 {
    top: 13%;
    left: 44%;
}

.p-24 {
    top: 31%;
    left: 47%;
}

.p-11.p3 {
    top: 55%;
    left: 40%;
}

/* Part 4*/
.p-27 {
    top: 83%;
    left: 60%;
}

.p-28 {
    top: 55%;
    left: 41%;
}

/* Part 5 */
.p-22 {
    top: 70%;
    left: 50%;
}

.p-21 {
    top: 60%;
    left: 42%;
}

.p-19 {
    top: 70%;
    left: 37%;
}

.p-34 {
    top: 30%;
    left: 33%;
}

.p-33 {
    top: 30%;
    left: 42%;
}

.p-3 {
    top: 36%;
    left: 45%;
}

.p-54 {
    top: 44%;
    left :47%;
}

/* part 6 */
.p6.p-18 {
    top: 80%;
    left: 50%;
}

.p-20 {
    top: 45%;
    left: 40%;
}

/* part 7 */
.p-23 {
    top: 50%;
    left: 30%;
}

.p-24.p7 {
    top: 68%;
    left: 34%;
}

.p-38 {
    top: 33%;
    left: 45%;
}

/* part 8 */

.p-39 {
    top: 37%;
    left: 45%;
}

/* part 9 */
.p-10.p9 {
    top: 20%;
    left: 38%;
}

.p-11.p9 {
    top: 80%;
    left: 40%;
}

.p-13 {
    top: 86%;
    left: 34%;
}

.p-30.p9 {
    top: 60%;
    left: 47%;
}

.p-31 {
    top: 65%;
    left: 40%;
}

.p-35 {
    top: 27%;
    left: 48%;
}

.p-37 {
    top: 34%;
    left: 44%;
}
